doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Tucano Solutions
    // inject:css
    // endinject
    
    //- ============ THIRD PARTY SOURCES ============
    //- TODO: Add third-party sources here if needed (e.g. CDN files)
      
    //- GOOGLE FONTS - ROBOTO
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet")
    //- ============ THIRD PARTY SOURCES ============
  body
    include sections/landing/landing
    include sections/about/about
    // inject:js
    // endinject
