//     Components
//     The Components layer is where we begin to style recognisable pieces of UI.
//     We’re still binding onto classes here, so our specificity hasn’t yet
//     increased. However, this layer is more explicit than the last one in that
//     we are now styling explicit, designed pieces of the DOM. We shouldn’t find
//     any selectors with a lower specificity than one class in this layer. This
//     is where the majority of your work will happen after initial project
//     set-up. Adding new components and features usually makes up the vast
//     majority of development.
//
.message-container {
  margin: 25px auto;
  background-color: #101010;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: $min-landscape) {
    margin: 50px auto;
    min-width: 350px;
    min-height: 350px;
    padding-left: 0;
    padding-right: 0;
  }
}

.logo-placeholder {
  width:100%;
  max-width: 350px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.logo-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #6f341f;
}

.logo-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.message {
  padding: 40px 0;
  text-align: center;
  color: darken(white, 5%);
  font-size: 38px;

  @media (min-width: $min-landscape) {
    font-size: 45px;
  }
}
