.section {
  width: 100%;
  height: 20vh;
  border-style: solid;
  border-width: 5px;

  &.-about {
    border-color: $primary-color;
    background-color: lightyellow;
    margin-top: 25px;
  }

  &.-landing {
    border-color: darkgray;
    margin-bottom: 25px;
    background-color: red;
  }
}
